body {
  width: 350px;
  margin: 0;
}
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.close-button {
  padding: 0;
  border: none;
  background: none;
  margin: 10px;
  margin-right: 30px;
  visibility: hidden;
}
.search-container {
  display: flex;
  flex-wrap: nowrap;
  height: 30px;
  justify-content: space-around;
  margin: 10px;
}
.search-box {
  width: 80%;
}
.search-button {
  background-color: #3796f3;
  color: white;
  border-radius: 3px;
  border: none;
}
.search-button:hover {
  box-shadow: 1px 2px 2px #888888;
}
.search-button:active {
  box-shadow: none;
}
.search-icon {
  width: 30px;
}
.promo-text {
  margin: 10px;
}
.footer {
  padding: 10px;
  background-color: rgb(227, 227, 227);
  text-align: center;
  color: rgb(85, 85, 85);
}
a:link,
a:visited {
  color: #3796f3;
  text-decoration: none;
  cursor: pointer;
}

a:link:active,
a:visited:active {
  color: #3796f3;
}
.dict-selection {
  display: flex;
  flex-wrap: nowrap;
  height: 20px;
  justify-content: space-around;
  margin: 10px;
}
.translation {
  margin: 20px;
}
.definition-are-container {
  margin: 20px;
}
.definition-container {
  display: flex;
}
.type {
  flex-basis: 20%;
  padding-right: 20px;
  color: rgb(85, 85, 85);
}
.definition {
  flex-basis: 79%;
  font-size: 14px;
}
